{% extends 'base.html' %}

{% block titulo %}
<h1>ChatZada</h1>
{% endblock %}
{% block container %}
<section id="rolagem" class="chat">
    {% for pergunta, resposta in chats %}
    <section class="pergunta">
        <p>{{pergunta}}</p>
    </section>
    <section class="resposta">
        <img class="logo-resposta" src="../../static/img/logo.svg" alt="Ícone SVG" width="50" height="50">
        <p class="texto-resposta">{{resposta}}</p>
    </section>
    <hr class="line">
    {% endfor %}
</section>
<section class="pesquisa">
    <form action="#" method="POST">
        <div class="input-group mb-6">
            <input type="text" name='pergunta' class="container-input"
                aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
        <button type="submit" class="botao"></button>
    </form> 
</section>
{% endblock %}
{% block footer %}
<p>ChatZada é burro. Considere rever informações importantes.</p>
{% endblock %}